#elem1{
    border: 2px dotted blue;
    width: 300px;
}
#elem2{
    border: 2px dotted green;
    height: 200px;
    margin: 10px;
}
#elem3{
    border: 2px solid red;
    height: 175px;
    margin: 10px;
}
/*верх-право-низ-лево*/
#elem4{
    border: 2px solid red;
    width: 300px;
}
#elem5{
    border: 2px solid green;
    height: 200px;
    margin: 30px 100px 30px 100px;
}
#elem6{
    border: 2px solid orange;
    width: 300px;
}
#elem7{
    border: 2px dashed blue;
    height: 200px;
    margin: 30px 50px 70px 10px;
}
#elem8{
    padding: 30px;
    width: 500px;
    border: 2px solid green;
    text-align: justify;
}
#elem9{
    padding: 10px;
    width: 300px;
    border: 2px solid red;
    text-align: justify;
}
#elem10{
    padding: 10px 20px 60px 20px;
    width: 200px;
    border: 2px solid red;
    text-align: justify;
}
#elem11{
    padding: 10px 20px 60px 40px;
    width: 200px;
    border: 2px solid red;
    text-align: justify;
}
#elem12{
    width: 100px;
    height: 100px;
    background: cadetblue;
    margin-bottom: 20px;
}
#elem13{
    width: 100px;
    height: 100px;
    background: cadetblue;
    padding: 25px;
    border: 10px dashed black;
    box-sizing: border-box;
}
.elem14{
    display: inline;
    width: 100px;
    height: 100px;
    border: 1px solid red
}
.elem15{
    display: block;
    width: 100px;
    height: 100px;
    border: 1px solid red;
    text-decoration: underline;
    color:blueviolet;
    text-align: center;
}
.elem16{
    display: inline-block;
    width: 100px;
    height: 100px;
    border: 1px solid blue;
}
.elem17{
    padding: 10px 0;
    border: 1px solid red;
    text-align: center;
}
.elem18{
    padding: 10px 0;
    border: 1px solid red;
    text-align: right;
}
.elem19{
    text-align: center;
    padding: 10px 0;
    border: 1px solid blue;
}
.child1{
    display: inline-block;
    margin: 5px;
}
.elem20{
    text-align: right;
    padding: 10px 0;
    border: 1px solid red;
}
.child2{
    padding: 10px;
    display: inline-block;
    border: 1px solid green;
}
.elem21{
    text-align: right;
    padding: 10px 0;
    border: 1px solid red;
}
.child3{
    padding: 10px;
    display: inline-block;
    border: 1px solid green;
    width: 100px;
}